{% extends 'layout.html' %} {% block content %}
<h2>Dashboard</h2>
<br />
<div class="card">
  <div class="card-header">Update Account</div>
  <div class="card-body">
    <p class="card-text">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <form action="/dashboard" class="p-2 border" method="POST">
                        <p>Account details</p>
                        <div class="mb-3">
                            {{ form.hidden_tag() }} 
                            {{ form.name.label(class='form-label') }} 
                            {{ form.name(class='form-control', value=user_to_update.name) }}
                        </div>
                        {{ form.submit(class='btn btn-secondary btn-sm') }}
                    </form>
                </div>
            </div>
        </div>
    </p>
    <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-sm">Log out</a>
    <a href="{{ url_for('delete', id=current_user.id) }}" class="btn btn-danger btn-sm">Delete account</a>
  </div>
</div>



{% endblock %}
